@import "Common.css";

#HRExpensesManage, #HRExpensesInvoice {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding-left: 50px;
    width: 750px;
}

#HREmployeeList {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 800px;
    row-gap: 20px;
}

.employee_list_entry {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-style: solid;
    border-color: var(--purple-base);
    border-width: 2px;
    border-radius: 3px;
    transition: 0.2s;
}

.employee_list_entry:hover {
    border-color: black;
    border-style: dotted;
}

.employee_list_entry > p {
    font-size: 15px;
    font-color: black;
}

.loading {
    position: relative;
}

.loading img{
    position: absolute;
    width: 50px;
    height: 50px;
}

#warning_overlay {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    transition: opacity 0.1s;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

#warning_text {
    color: #EA0000;
    background-color: rgba(0,0,0,0.8);
    opacity: 0.0;
    transition: opacity 0.2s;
    position: absolute;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    margin-left: 50px;
}

.warning img{
    width: 30px;
    height: 30px;
}

#HRListExpenses {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#HRExpensesCalculate {
    position: relative;
    width: 400px;
}


#HRSectorManage {
    width: 340px;
}

#HRSectorManage .button-center {
    margin-top: 10px;
}

#HRSectorManage .HRForm input {
    width: 200px;
}

#HRManageClients {
    width: 340px;
}

#HRManageRoles {
    width: 340px;
}
